<!DOCTYPE html>
<html>

{% block header %}
  {% include 'global.html' %}
{% endblock %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">The Pass</p>
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <a href="{{ url_for('findingredients') }}" style="text-decoration: none"><i class="fa fa-search"></i></a>
    </p>
  </header>

  <div class='sk-ww-instagram-hashtag-feed' data-embed-id='17124'></div><script src='https://www.sociablekit.com/app/embed/instagram-hashtag-feed/widget.js'></script>
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

</script>

</body>
</html>